<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160327627717-ktckq6eler7h4dip1r1o8b7hhhrk8g8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160327627717-ktckq6eler7h4dip1r1o8b7hhhrk8g8o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>160327627717-q71hv1tp91kgp6nokjjvbrn0ojh9vgap.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAyiNa_qQR2rVc3NumyV8fLWyxDt06M0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>160327627717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.live.appointments</string>
	<key>PROJECT_ID</key>
	<string>appointments-fb225</string>
	<key>STORAGE_BUCKET</key>
	<string>appointments-fb225.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160327627717:ios:b9a542ff8b5571824811ac</string>
</dict>
</plist>